<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="server_api" value="AAAAecEjAKw:APA91bG9Sp5muLLkMOH6wgeIoZ5Pc0xuoJRjn8QrVZaZTSr1tdbRwchuRqiMt5NjQDcoinRI8F3EthCAcjwgqI_-R8Lx9jdSfIi3WoTlrKpCJSoGVyVcRG3AtNePmZ_7eL13BA_G8hmi" />
    <add key="sender_key" value="522931339436" />
  </appSettings>
</configuration>